<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="foldersettingEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=MediaPortal;persistsecurityinfo=True;database=foldersetting&quot;" providerName="System.Data.EntityClient" />
    <add name="videodatabaseEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=MediaPortal;persistsecurityinfo=True;database=videodatabase&quot;" providerName="System.Data.EntityClient" />
    <add name="picturedatabaseEntities" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=MediaPortal;database=picturedatabase;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>