<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BASS.NET" version="2.4.14.1" targetFramework="net40" />
  <package id="BassRegistration" version="2.4.14.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.11.46" targetFramework="net35" />
  <package id="MediaInfo.Native" version="21.9.1" targetFramework="net40" />
  <package id="MediaInfo.Wrapper" version="21.9.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net40" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net40" />
  <package id="MetadataExtractor" version="2.8.0" targetFramework="net40" />
  <package id="XmpCore" version="6.1.10.1" targetFramework="net40" />
</packages>