<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FFmpeg.Win32.Static" version="4.1.1.1" targetFramework="net40" />
  <package id="FFmpeg.Win64.Static" version="4.1.1.1" targetFramework="net40" />
  <package id="MediaInfo.Native" version="21.3.0" targetFramework="net40" />
  <package id="MediaInfo.Wrapper" version="21.3.4" targetFramework="net40" />
</packages>