[B|b]in
obj
*.log
*.suo
*.sln.cache
*.resharper
*.user
_ReSharper.*

# Folder containing the nsis installers
/Release

# BuildReport files & folders
/Build/_BuildReport_Files
/Build/*.html
/Build/*.xml
/Build/NuGet.exe

# Other randoms
Thumbs.db
*.bak
/mediaportal/Setup/uninstall.nsh
Packages
*.DotSettings
