<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="Packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TeamMediaPortal @ MyGet" value="https://www.myget.org/F/mediaportal/api/v3/index.json" />
    <add key="TeamMediaPortal @ GitHub" value="https://nuget.pkg.github.com/Mediaportal-Plugin-Team/index.json" />
  </packageSources>
  <disabledPackageSources />
</configuration>
