#pagetrail LI {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0px
}
#pagelocation LI {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0px
}
SPAN.anchor {
	DISPLAY: none
}
* HTML DIV#page {
	HEIGHT: 0%
}
* HTML DIV#header {
	HEIGHT: 0%
}
