<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Bass.Net" publicKeyToken="B7566C273E6EF480" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.3.1.2" newVersion="2.3.1.2"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
