<?xml version="1.0"?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp server" port="31456" name="TvControl">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins"/>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.Common" publicKeyToken="80b5de62e27be49b" culture="neutral"/>
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29112" newVersion="1.5.0.29113"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.FrameWork" publicKeyToken="80b5de62e27be49b" culture="neutral"/>
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29112" newVersion="1.5.0.29113"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.Provider.MySQL" publicKeyToken="80b5de62e27be49b" culture="neutral"/>
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29112" newVersion="1.5.0.29113"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.Provider.SQLServer" publicKeyToken="80b5de62e27be49b" culture="neutral"/>
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29112" newVersion="1.5.0.29113"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
