<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MPTvClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <MPTvClient.Properties.Settings>
            <setting name="playerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="playerArgs" serializeAs="String">
                <value>{0}</value>
            </setting>
            <setting name="serverHostname" serializeAs="String">
                <value />
            </setting>
            <setting name="useOverride" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="overrideURL" serializeAs="String">
                <value />
            </setting>
            <setting name="alwaysPerformConnectionChecks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </MPTvClient.Properties.Settings>
    </userSettings>
</configuration>
