<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BASS.NET" version="2.4.14.1" targetFramework="net40" />
  <package id="BASSCombined" version="2.4.15" targetFramework="net40" />
  <package id="BassRegistration" version="2.4.14.1" targetFramework="net40" />
  <package id="CSCore" version="1.2.1.2" targetFramework="net40" />
  <package id="DirectX_9_SDK" version="10.6.0" targetFramework="net40" />
  <package id="FFmpeg.Win32.Static" version="4.1.1.1" targetFramework="net40" />
  <package id="FFmpeg.Win64.Static" version="4.1.1.1" targetFramework="net40" />
  <package id="MediaInfo.Native" version="21.3.0" targetFramework="net40" />
  <package id="MediaInfo.Wrapper" version="21.3.1" targetFramework="net40" />
  <package id="MediaPortal.TagLib" version="2.3.1" targetFramework="net40" />
  <package id="MetadataExtractor" version="2.5.0" targetFramework="net40" />
  <package id="NAudio" version="1.10.0" targetFramework="net40" />
  <package id="Sqlite" version="3.33.0" targetFramework="net40" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net40" />
  <package id="UnidecodeSharpFork" version="1.0.1" targetFramework="net40" />
  <package id="XmpCore" version="6.1.10.1" targetFramework="net40" />
</packages>