<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BASS.NET" version="2.4.14.1" targetFramework="net40" />
  <package id="BASSCombined" version="2.4.15" targetFramework="net40" />
  <package id="BassRegistration" version="2.4.14.1" targetFramework="net40" />
  <package id="CSCore" version="1.2.1.2" targetFramework="net40" />
  <package id="ffmpeg" version="2.7.1" targetFramework="net40" />
  <package id="MediaInfo.Native" version="20.8.1" targetFramework="net40" />
  <package id="MediaInfo.Wrapper" version="20.8.0" targetFramework="net40" />
  <package id="MediaPortal.TagLib" version="2.1.0.2" targetFramework="net40" />
  <package id="MetadataExtractor" version="2.4.3" targetFramework="net40" />
  <package id="NAudio" version="1.10.0" targetFramework="net40" />
  <package id="Sqlite" version="3.21.0" targetFramework="net40" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net40" />
  <package id="XmpCore" version="6.1.10" targetFramework="net40" />
</packages>