<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BASS.NET" version="2.4.14.1" targetFramework="net40" requireReinstallation="true" />
  <package id="MediaInfo.Native" version="26.1.0" targetFramework="net472" />
  <package id="MediaInfo.Wrapper" version="26.1.0" targetFramework="net472" />
  <package id="MediaPortal-iMON-Display" version="1.1.0" targetFramework="net40" />
  <package id="SharpLibDisplay" version="0.3.4" targetFramework="net40" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net40" requireReinstallation="true" />
</packages>