<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="appUpdater" type="Microsoft.ApplicationBlocks.ApplicationUpdater.UpdaterSectionHandler,Microsoft.ApplicationBlocks.ApplicationUpdater"/>
		<section name="appStart" type="Microsoft.ApplicationBlocks.ApplicationUpdater.AppStart.ConfigSectionHandler,AppStart"/>
	</configSections>
	<runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="plugins/windows"/>
        </assemblyBinding>
    </runtime>
	<appStart>
		<ClientApplicationInfo>
			<appFolderName></appFolderName>
			<appExeName>MediaPortal.exe</appExeName>
			<installedVersion>0.1.3.0</installedVersion>
			<lastUpdated>2005-1-6T21:00:00.2812672-05:00</lastUpdated>
		</ClientApplicationInfo>
	</appStart>
	<appSettings>
		<add key="version" value="0.1.3.0"/>
		<add key="edtftp.log.level" value="ALL"/>
	</appSettings>
	<appUpdater>
		<UpdaterConfiguration>
			<polling type="Days" value="1"/>
			<logListener logPath="UpdaterLog.txt"/>
			<!--  ****************    BITS DOWNLOADER    ****************  -->
			<downloader type="Microsoft.ApplicationBlocks.ApplicationUpdater.Downloaders.BITSDownloader" assembly="Microsoft.ApplicationBlocks.ApplicationUpdater,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
			<!--  ****************    THE RSA KEY HASHING VALIDATOR    ****************		-->
			<validator type="Microsoft.ApplicationBlocks.ApplicationUpdater.Validators.RSAValidator" assembly="Microsoft.ApplicationBlocks.ApplicationUpdater,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null">
				<key>
					<RSAKeyValue>
						<Modulus>sQVZ/hObAZLEmnWS8pmTKR5OwqXZT41s662gyzYNFrCrFiC+cFasVe/QT/irOLCX7qp8tUY6d0g25LXBhjUCma4kfS0akV6mPQNwXEZBzD5TOUqEDbqShviW3xnWyGO/sBhASkWQEknaPF5YnBaPfbPHYFHiJBllatcUgvL/10U=</Modulus>
						<Exponent>AQAB</Exponent>
					</RSAKeyValue>
				</key>
			</validator>
			<application name="MediaPortal" useValidation="false">
				<client>
					<baseDir></baseDir>
					<xmlFile>Mediaportal.exe.config</xmlFile>
					<tempDir></tempDir>
				</client>
				<server>
					<xmlFile>http://mediaportal.sourceforge.net/update/mediaportal/Manifest.xml</xmlFile>
					<xmlFileDest>ServerManifest.xml</xmlFileDest>
					<maxWaitXmlFile>60000</maxWaitXmlFile>
				</server>
			</application>
		</UpdaterConfiguration>
	</appUpdater>
	<startup>
	</startup></configuration>
