<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="plugins/windows"/>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="version" value="0.2.0.0 RC1"/>
		<add key="edtftp.log.level" value="ALL"/>
	</appSettings>
</configuration>
