<?xml version="1.0"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0.30319" />
      <supportedRuntime version="v2.0.50727" />
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="plugins\ExternalPlayers;plugins\process;plugins\subtitle;plugins\windows"/>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.Common"
          publicKeyToken="80b5de62e27be49b"
          culture="neutral" />
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29112" newVersion="1.5.0.29113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.FrameWork"
          publicKeyToken="80b5de62e27be49b"
          culture="neutral" />
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29112" newVersion="1.5.0.29113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.Provider.MySQL"
          publicKeyToken="80b5de62e27be49b"
          culture="neutral" />
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29112" newVersion="1.5.0.29113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.Provider.SQLServer"
          publicKeyToken="80b5de62e27be49b"
          culture="neutral" />
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29112" newVersion="1.5.0.29113" />
      </dependentAssembly>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
	</runtime>
	<appSettings>
		<add key="version" value="1.7.0 Pre Release"/>
		<add key="edtftp.log.level" value="ALL"/>
	</appSettings>
</configuration>
