<?xml version="1.0"?>
<configuration>
	<startup>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="plugins\ExternalPlayers;plugins\process;plugins\subtitle;plugins\windows"/>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.Common"
          publicKeyToken="80b5de62e27be49b"
          culture="neutral" />
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29111" newVersion="1.5.0.29112" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.FrameWork"
          publicKeyToken="80b5de62e27be49b"
          culture="neutral" />
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29111" newVersion="1.5.0.29112" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.Provider.MySQL"
          publicKeyToken="80b5de62e27be49b"
          culture="neutral" />
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29111" newVersion="1.5.0.29112" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gentle.Provider.SQLServer"
          publicKeyToken="80b5de62e27be49b"
          culture="neutral" />
        <bindingRedirect oldVersion="1.5.0.29053-1.5.0.29111" newVersion="1.5.0.29112" />
      </dependentAssembly>
    </assemblyBinding>
	</runtime>
	<appSettings>
		<add key="version" value="1.3.0.0 Alpha"/>
		<add key="edtftp.log.level" value="ALL"/>
	</appSettings>
</configuration>
