// In Microsoft Visual C++ generiertes Ressourcenskript.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Von der Ressource TEXTINCLUDE 2 generiert.
//
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE  
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE  
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE  
BEGIN
    "#define _AFX_NO_SPLITTER_RESOURCES\r\n"
    "#define _AFX_NO_OLE_RESOURCES\r\n"
    "#define _AFX_NO_TRACKER_RESOURCES\r\n"
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
    "\r\n"
	"#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)\r\n"
	"LANGUAGE 7, 1\r\n"
	"#pragma code_page(1252)\r\n"
    "#include ""res\\dvblib.rc2""  // Nicht mit Microsoft Visual C++ bearbeitete Ressourcen\r\n"
    "#include ""afxres.rc""  	// Standardkomponenten\r\n"
    "#endif\r\n"
    "\0"
END

/////////////////////////////////////////////////////////////////////////////
#endif    // APSTUDIO_INVOKED


#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)
LANGUAGE 7, 1
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       1,0,0,1
  PRODUCTVERSION    1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
        BLOCK "040704e4"
		BEGIN 
            VALUE "CompanyName", "TODO: <Firmenname>"
            VALUE "FileDescription", "TODO: <Dateibeschreibung>"
			VALUE "FileVersion",     "1.0.0.1"
			VALUE "InternalName",    "dvblib.dll"
            VALUE "Copyright (C) 2004\0", "TODO: (c) <Company name>. Alle Rechte vorbehalten."
			VALUE "OriginalFilename","dvblib.dll"
            VALUE "ProductName", "TODO: <Produktname>"
			VALUE "ProductVersion",  "1.0.0.1"
		END
	END
	BLOCK "VarFileInfo" 
	BEGIN 
		VALUE "Übersetzung", 0x0407, 1252
    END
END

#endif
#ifndef APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Von der Ressource TEXTINCLUDE 3 generiert.
//
#define _AFX_NO_SPLITTER_RESOURCES
#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)
LANGUAGE 7, 1
#pragma code_page(1252)
#include "res\\dvblib.rc2"  //  Nicht mit Microsoft Visual C++ bearbeitete Ressourcen
#include "afxres.rc"  	// Standardkomponenten
#endif

/////////////////////////////////////////////////////////////////////////////
#endif    // nicht APSTUDIO_INVOKED

