body { font-size: 10pt;	font-family: Tahoma, Arial }
h1 { font-size: 14pt; font-family:Tahoma, Arial; font-weight:bold; padding:4px; background-color:#eeeeee }
h2 { font-size: 12pt; font-family:Tahoma, Arial; font-weight:bold; padding:4px; background-color:#eeeeee }
h3 { font-size: 10pt; font-family:Tahoma, Arial; font-weight:bold; padding:4px; background-color:#eeeeee }
p { margin:0px; padding: 4px 0px 4px 0px }

.Figure { font-family: Tahoma; font-size: 8pt; color: #FFFFFF; border-style:solid; border-color:#555555; border-width: 1px; padding: 4px; background-color:#000099 }