<?xml version="1.0"?>
<configuration>
  <startup>
    <requiredRuntime version="v2.0.50727"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="plugins/windows"/>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="version" value="1.0.1.0"/>
		<add key="edtftp.log.level" value="ALL"/>
	</appSettings>
</configuration>
