/******************************************************
/ Navigation CSS
******************************************************/
#menu  {
	color:			white;
	background-color:	#ffffff;
	font:			11px Helvetica, Arial, san-serif;
	text-decoration:	none;
	height:			20px;
	border-top:		1px solid white;
}


#menudiv  {
	text-align:		right;
	padding-right:		12px;
}

#menudiv A  {
	font:			14px Helvetica, Arial, san-serif;
	text-decoration:	none;
	font-weight:bolder
}
#menudiv a:link, #menudiv a:visited {
	color:			#ab290f;
	border:			none;
}	

#menudiv a:hover, #menudiv a:active {
	color:			black;
	border:			none;
}	

#menudiv ul {
	padding:		0px;
	margin:			0px;
	list-style-type:	none;
}

#menudiv li {
	display:		inline;
	padding:		5px;
}



/******************************************************
/ Content CSS
******************************************************/
#contentarea {
	clear:			both;
	width:			100%;
	padding:		15px 0px;
	font:			9pt Helvetica, Arial, san-serif;
	color:			#797B7A;
}

#leftbar {
	float:			left;
	width:			450px;
	padding:		5px;
}

#rightbar {
	float:			left;
	width:			225px;
	border-left:		1px solid #BCBDBC;
	padding:		5px;
}

#adminleftbar {
	float:			left;
	width:			100%;
	border-right:		1px solid #BCBDBC;
	padding:		5px;
}

#adminrightbar {
	float:			left;
	width:			125px;
	padding:		5px;
}

#widebar {
	float:			center;
	width:			675px;
	padding:		10px;
}


form {
	margin:			0px;
	margin-left:	5px;
	
}



LI  {
	margin-bottom:		2px;
}

.orangetext {
	font-size:		13px;
	color:			#EE8907;
	font-weight:		bold;
	text-decoration:	none;
}
