<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerEventHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LogPowerEvents.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PowerEventHandler.Properties.Settings>
            <setting name="TurnTVOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TurnTVOnAtResume" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="PathOnSuspend" serializeAs="String">
                <value />
            </setting>
            <setting name="PathOnResume" serializeAs="String">
                <value />
            </setting>
            <setting name="MinimizeAtStartup" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="LaunchTimeOut" serializeAs="String">
                <value>15</value>
            </setting>
        </PowerEventHandler.Properties.Settings>
        <LogPowerEvents.Properties.Settings>
            <setting name="TurnTVOn" serializeAs="String">
                <value>True</value>
            </setting>
        </LogPowerEvents.Properties.Settings>
    </userSettings>
</configuration>