vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 May 2005 04:33:22 -0000
vti_extenderversion:SR|6.0.2.6353
vti_author:SR|ZION\\dav
vti_modifiedby:SR|ZION\\dav
vti_timecreated:TR|03 May 2005 04:36:43 -0000
vti_backlinkinfo:VX|Tutorials/Start.html Welcome.html Tutorials/Layout.html
vti_nexttolasttimemodified:TR|13 May 2005 04:33:16 -0000
vti_cacheddtm:TX|13 May 2005 04:33:22 -0000
vti_filesize:IR|588
