<?xml version="1.0"?>
<connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <add name="TVDatabaseContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=home;User Id=root;password=MediaPortal;database=TVE35&quot;" providerName="System.Data.EntityClient"/>
  <add name="Model" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=home;User Id=root;database=TVE35;password=MediaPortal;Persist Security Info=True&quot;" providerName="System.Data.EntityClient"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></connectionStrings>
