*#pagetrail LI {
	BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.3em; PADDING-TOP: 0px
}
*#pagelocation LI {
	BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.3em; PADDING-TOP: 0px
}
SPAN.anchor {
	DISPLAY: none
}
* HTML DIV#page {
	HEIGHT: 0%
}
* HTML DIV#header {
	HEIGHT: 0%
}
