<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins\process"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="version" value="1.0.2.0"/>
  </appSettings>
</configuration>