<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins\ExternalPlayers;plugins\process;plugins\subtitle;plugins\windows"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="version" value="1.2.2.0"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0.30319" />
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v4.0" />
  </startup>
 </configuration>