<?xml version="1.0"?>
<configuration>

  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Critical, Error, ActivityTracing"
	      propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="tvservice.svclog"
	      type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, 
	        Culture=neutral, PublicKeyToken=b77a5c561934e089"
	        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
-->

  
  
  <connectionStrings>

    <!--
    for MYSQL use:
    <add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.MySQL.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=TVE35;password=MediaPortal;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    
    for MS SQL use:
    <add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.MSSQL.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=MySql.Data.MySqlClient;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=TVE35;User ID=sa;Password=MediaPortal;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    -->
    
    <add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.MSSQL.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=MySql.Data.MySqlClient;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=TVE35;User ID=sa;Password=MediaPortal;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />        
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.2"/>
  </startup>

</configuration>