<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="EntityFrameworkEnableVerbosePersistenceLogging" value="true" />
  </appSettings>

  <castle>
    <facilities>
      <!--- log4net logging, see log.config for log4net options -->
      <facility id="log4netFacility" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="log4net" configFile="log4net.config" />
    </facilities>

    <!-- enable this PluginExceptionInterceptor to catch-log-rethrow all plugin based exceptions-->
    <components>
      <component id="PluginExceptionInterceptor" service="Castle.DynamicProxy.IInterceptor, Castle.Core" type="Mediaportal.TV.Server.Plugins.Base.PluginExceptionInterceptor, Mediaportal.TV.Server.Plugins.Base" lifestyle="singleton" />
    </components>
  </castle>


  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Critical, Error, ActivityTracing"
	      propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="tvservice.svclog"
	      type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, 
	        Culture=neutral, PublicKeyToken=b77a5c561934e089"
	        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
-->
  <connectionStrings>
    <!--
    for MYSQL use:
    <add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.MySQL.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=TVE35;password=MediaPortal;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    
    for MS SQL use:
    <add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.MSSQL.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=MySql.Data.MySqlClient;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=TVE35;User ID=sa;Password=MediaPortal;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    for MS SQL CE (MP2) use:
    <add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.MSSQLCE.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=System.Data.SqlServerCe;provider connection string=&quot;Data Source='C:\ProgramData\Team MediaPortal\MP2-Server\TVE35.sdf'; Default Lock Timeout=30000; Max Buffer Size = 2048; Max Database Size = 1024;&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="Model" connectionString="metadata=res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.csdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Mediaportal.TV.Server.TVDatabase.EntityModel.Model.SQLite.ssdl|res://Mediaportal.TV.Server.TVDatabase.EntityModel/Model.msl;provider=System.Data.SQLite;provider connection string=&quot;Data Source=S:\MP2TVE.s3db;FailIfMissing=False&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins" />
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <!--add name="SQLCE Data Provider" invariant="System.Data.SqlServerCe" description=".Net Framework Data Provider for SQL CE" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.1, Culture=neutral, PublicKeyToken=89845dcd8080cc91" /-->
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

</configuration>