<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaInfo.Native" version="20.8.1" targetFramework="net40" />
  <package id="MediaInfo.Wrapper" version="20.8.0" targetFramework="net40" />
  <package id="MetadataExtractor" version="2.4.3" targetFramework="net40" />
  <package id="XmpCore" version="6.1.10" targetFramework="net40" />
</packages>